/* #mac-img{
    width: 100%;
} */

#promo-text{
    font-size: 17px;
    margin-top: 25px;
    color: grey;
    font-weight: bold;
}
#submit-btn{
    background-color: #f31646;
    color:white;
    padding: 5px;
    
    border: 1px solid;
    border-radius: 05px;
}
#submit-btn:hover{
    background-color: rgb(10, 70, 10);
}
.horizontal-line{
    width: 70%;
    color: grey;
}
#total-amount{
    text-align: center;
}
#cupon-error-message{
    background-color: #e00909;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    display: none;
}
